# This project is written on python indeed
language: python
# I run it on python3.5 on my machine so test it on 3.5 I guess
python:
  - "3.5"
# command to install dependencies
# I know it's is default, I want to state it explicitly
install:
  - pip install -r requirements.txt
  - pip install setuptools wheel twine
# Plug
script:
  - python3 setup.py sdist bdist_wheel
  - python3 -m twine upload -u ${TEST_PYPI_USERNAME} -p ${TEST_PYPI_PASSWORD} --repository-url https://test.pypi.org/legacy/ dist/*
# notify commiter on EVERY build
notifications:
  email:
    on_success: always
    on_failure: always

